import React from "react";
import PropTypes from "prop-types";

const YoutubeEmbed = ({ embedId }) => (
<div className="video-responsive">
    <iframe width="853" height="480" //src={'wAQnYgnzhfM&t'} frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowFullScreen
        title="Embedded youtube" />
</div>
);
//https://www.youtube.com/watch?v=wAQnYgnzhfM
YoutubeEmbed.propTypes = {
embedId: PropTypes.string.isRequired
};

//export default YoutubeEmbed;
YoutubeEmbed()