<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>The Combination of Express and EJS has a Fantasic Potential.</h1>
                    <p>Welcome to templating using CDN Scripts</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Bootstrap Can Even Create Sidebars</h3>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>